.wrapper {
    display: flex;

}

.wrapper * {
    margin: 5px
}

.description {
    justify-self: flex-end;
}

.myposts {
}
.profileStatus{
    color:whitesmoke;
    display:flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}