.wrapper{
    display: grid;
    grid-template-areas:
     "avatar name"
      "body body";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 0fr 10fr;
    grid-column-gap:2px;
}
.name{
    object-fit: cover;
    grid-area: name;

}
.avatar{
    grid-area: avatar;
    width: 40px;
    height: 40px;

}
.bodyPost{
    font-family: 'Akshar', sans-serif;
    font-size: 20px;
    width: 60%;
    grid-area: body;
    color:black;
    background:rgb(248,248,255);
    border-radius: 10px;
}
.bodyPost img{
    width:15px;
    height: 15px;
    border-radius:1px;
}
