@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.app-wrapper{
  display: grid;
  width:100%;
  font-family: 'Bebas Neue', cursive;
  font-size:40px;
  margin: 0 auto;
  grid-template-areas:
     "h h"
     "n c";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2.5fr 10fr;
}
.app-wrapper-content {
  grid-area:c;
  background-color: rgb(28,28,28);
}